python-dotenv
pandas
pymongo
numpy
certifi
fastapi
pymongo[srv]==3.12
scikit-learn
pyaml

uvicorn
python-multipart
requests
beautifulsoup4
python-whois
dnspython
streamlit
jinja2
markupsafe
setuptools